*{
    margin: 0px;
    padding: 0px;
    font-family: 'Cairo', sans-serif;}

.productpage{
    position: relative;
	top:55px;
    background-color:#F2F2F2 ;
    width: 100%;
    height:110vh;
    min-height: 109vh;
    background-attachment: fixed;
}
.product{
    position: relative;
    background-color: white;
    height: 100%;
    min-height:100vh;
    width:640px;
    padding: 20px;
    display:flex;
    flex-direction: row ;
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
}


.image{
    margin-top: 50px ;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.details{
    margin-top: 50px;
    width:300px; 
    margin-left : 50px;
    display: flex;
    flex-direction: column;
}
.details .title-price{
    font-size: 2.5em;
}

.details .title-price .dollars{
    padding-bottom: 0.5em;
    font-size: 0.75em;
    color:#448FF2;
    border-bottom: 1px solid #ccc;
}
.details .enabled{
    margin-bottom: 0.5em;
    padding: 6px 10px;
    background: #4FBF30;
    border: 1px solid white;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition-duration: 0.4s;
    display: inline-block;
    border-radius: 4px;
    text-decoration: none;
    margin:2px;  
}
.details .disabled{
    margin-bottom: 0.5em;
    padding: 6px 10px;
    background: #2e721b;
    border: 1px solid white;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition-duration: 0.4s;
    display: inline-block;
    border-radius: 4px;
    text-decoration: none;
    margin:2px;  
}

.details .enabled:hover {
    background-color: #44A629;
    color: white;
}
.details .disabled{
    background: #2e721b;
    color: white;
}
.details .description{
    font-size: 1.25em;
    width:250px;
    overflow-x:none;
    margin:1em auto;
}

.details .price{
    font-size: 1.3em;
}
.addedInProductPage{
    position: absolute;
    font-size: 180px;
    left:240px;
    top:100px;
    color :#4FBF30 ;
    border: 5px solid #4FBF30 ;
    border-radius: 50%;
    opacity: 0;
    display: none;
}
@media only screen and (max-width:600px) {
    .product{
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        width:350px;
        height:200vh;

    }
    .product .photo{
        margin: 0px;
    }
    .product .details{
        margin:0px;
        margin-top: 40px;
    }
    .addedInProductPage {
        font-size: 180px;
        left: 85px;
        top: 180px;
    }
}
