.product-display{
    max-width: 1200px;
    padding: 3rem 3rem 3rem 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0rem 0;
 }
 
 .product-display .product-display-table{
    width: 100%;
    text-align: center;
 }
 
 .product-display .product-display-table thead{
    background: #F2F2F2;
 }
 
 .product-display .product-display-table th{
    padding:1rem;
    font-size: 2rem;
    border-bottom: .1rem solid black;
 }
 
 
 .product-display .product-display-table td{
    padding:1rem;
    font-size: 2rem;
    border-bottom: .1rem solid black;
 }
 
 .product-display .product-display-table .btn:first-child{
    margin-top: 0;
 }
 
 .product-display .product-display-table .btn:last-child{
    background: tomato;
 }
 
 .product-display .product-display-table .btn:last-child:hover{
    background: rgb(225, 85, 60);
 }
 
 

 @media (max-width:991px){

    html{
       font-size: 55%;
    }
 
 }
 
 @media (max-width:768px){
 
    .product-display{
       overflow-y:scroll;
    }
 
    .product-display .product-display-table{
       width: 80rem;
    }
 
 }
 
 @media (max-width:450px){
 
    html{
       font-size: 50%;
    }
 
 }
 