*{
    margin:0;
    padding:0;
  }
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 55px;
    border: 2px solid #ccc;
    float: left;
    height: 290px;
    width: 260px;
    background-color: #ddd;
    border-radius: 2px;

  }
  
.container img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 2px;
    max-width: 230px;
    max-height: 150px; 
    height : auto ;
    width: auto;
  }
  
.container h4 {
    padding-left: 8px;
    width : 230px ;
    height : 30px;
    overflow-y:hidden;
    overflow-x: hidden;
  }
  
.container h3 {
    padding: 4px 6px;
    float: right;
    font-size: 20px;;
  }
  
.container a {
    padding: 4px 6px;
    background: white;
    border: 1px solid #04aa6d;
    color: black;
    font-size: 15px;
    cursor: pointer;
    transition-duration: 0.4s;
    display: inline-block;
    /* border-radius: 4px; */
    transition-duration: 0.4s;
    text-decoration: none;
    margin:2px;
  }
.container a:hover {
    background: #04aa6d;
  }
  

.products {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-gap: 3em;
  }
  
  /* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally
    
  @media screen and (max-width: 600px) {
      .topnav a,
      .topnav form {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
      }
      .topnav form {
        border: 1px solid #ccc;
      }
 }*/
  