.topnav {
    position: fixed;
    top:0px;
    z-index: 1;
    width:100%;
    background-color: #448FF2;
    overflow: hidden;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

  }
  .topnav .name {
    color:white;
    font-size: 20px;
    font-style: bold;
    text-decoration: none;
    margin-left: 60px;
    font-weight:600;
  }
.topnav .name:hover {
    color: #f2f2f2 ;
  }

  
  /* Change the color of links on hover */
  
  
  /* Add a color to the active/current link */
  
  
  /* Style the search box inside the navigation bar */
  .topnav .Form {
    border: none;
    width:400px;
    position: relative;
    left:20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

  }
  
  .topnav input[type="text"] {
    font-size: 17px;
    padding: 15px;
    width: 360px;
    float:left;
    background: white;
    border:none;
    outline: none;
    border-radius:20px;
    height:40px;
  }
  
  .topnav button {
    margin-left: auto;
    margin-right: auto;
    position:relative;
    left:-40px;
    height:40px;
    border-radius: 20px;
    width: 40px;
    border: none;
    background-color: white;;
    color: #448FF2;
    font-size: 17px;
    cursor: pointer;
  }
  
  .topnav button:hover {
    background: #f2f2f2;
  }
  
  /* Style the links inside the navigation bar */
  .cartIcon{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cartIcon span {
    background-color: white;
    border-radius: 50%;
    font-size: 12px;
    height: 20px;
    width: 20px;
    position: absolute;
    right: 12px;
    top: -10px;
    display: flex;
    border: 1px solid #448ff2;
    align-items: center;
    color: #448ff2;
    justify-content: center;
    font-weight: 900;
}
  .topnav .fa-shopping-cart {
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    margin:0 20px;
  }
  .topnav .fa-shopping-cart:hover {
    color: #f2f2f2;
  
  }

  .topnav .nav-text {
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    margin: 0 20px;
  }
  .topnav .nav-text:hover {
    color: #f2f2f2;
  
  }
    

  @media only screen and (max-width: 800px) {
    .topnav .name{
      font-size:18px;
      padding-left: 20px;
      width: 92px;
    }
    .topnav .fa-shopping-cart{
      font-size: 20px;
      padding-right: 20px;
      width:92px;
      padding-left:52px;
      
    }
    .topnav .Form{
      left:40px;
      width:340px;
    }
    .topnav input[type="text"]{
      width:300px;
    }
    .cartIcon{
      position: relative;
      width:92px;
    }
    .cartIcon span {
      right: 14px;
      top: -12px;
  }

    
  }
  @media only screen and (max-width: 530px) {
    .topnav .name{
      font-size:15px;
      padding-left: 10px;
      width: 70px;
    }
    .topnav .fa-shopping-cart{
      font-size: 20px;
      padding-right: 10px;
      width:70px;
      padding-left:40px;
      
    }
    .topnav .Form{
      height:30px;
      left:30px;
      width:220px;
    }
    .topnav input[type="text"]{
      width:180px;
      height :30px;
      border-radius:30px ;
      font-size: 13px;
    }
    .topnav button {
      left:-30px;
      height:30px;
      border-radius: 15px;
      width: 30px;
      font-size: 13px;
    }
    .cartIcon{
      position: relative;
      width:70px;
    }
    .cartIcon span {
      right: 3px;
      top: -12px;
  }
    
  }